<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hrms.weekly-backup-pull</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/magainze/HRMS/scripts/pull-hrms-weekly-backup.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HRMS_MAC_BACKUP_DIR</key>
    <string>/Users/magainze/hrms backup</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>1</integer>
    <key>Hour</key>
    <integer>23</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/magainze/hrms backup/_meta/launchd-weekly-pull.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/magainze/hrms backup/_meta/launchd-weekly-pull.err.log</string>
</dict>
</plist>
